<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h2>仮予約が完了いたしました。<br>3営業日以内に予約の可否についてメールでご連絡いたします。</h2>
    </div>
    <div class="col-12 mt-3 text-center content">
      <div>
        <label><strong>開始時間</strong></label>
        <%= l @temp_reservation.start_time, format: :short %>
      </div>
      <div>
        <label><strong>終了時間</strong></label>
        <%= l @temp_reservation.end_time, format: :short %>
      </div>
    </div>
    <div class="col-12 text-center">
      <%= link_to 'マイページに戻る', user_path %>
    </div>
  </div>
</div>