<section>
  <h2>講師を選ぶ</h2>
  <div class="list-container">
  
    <% @teachers.each do |teacher| %>
      <div class="list">
      	<figure><%= image_tag "teacher.jpeg", class: "講師の写真" %></figure>
      	<figure><%= image_tag teacher.teacher_img.url %></figure>
      	<div>
        	<h4><%= link_to teacher.teacher_name, user_teacher_reservations_path(current_user, teacher.id) %></h4>
        	<P>カリキュラム実施場所<br>
        	  <%= teacher.teacher_address %>
        	</P>
      	</div>
      </div>
    <% end %>
  </div>
  <!--/.list-container-->
</section>