<section class="box1">

  <h2>お知らせ</h2>
  
  <dl id="new">
  <dt>2022/07/09</dt>
  <dd>form.htmlがサンプル用のファイル(contact.html)と同一内容になっており、そのままでは自動フォームとして使えなくなっていたので修正。</dd>
  <dt>2022/01/21</dt>
  <dd>tp_esthe4配布開始。<a href="company.html#about">テンプレートの解説はこちら。</a></dd>
  <dt>20XX/00/00</dt>
  <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
  <dt>20XX/00/00</dt>
  <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
  <dt>20XX/00/00</dt>
  <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
  <dt>20XX/00/00</dt>
  <dd>サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。サンプルテキスト。</dd>
  </dl>

</section>

<%= link_to destroy_teacher_session_path, method: :delete do %>
  <span>ログアウト</span>
<% end %>