<section>

  <h2>Access<span>アクセス</span></h2>
  
    <table class="ta1">
      <caption>大見出しが必要ならここを使います</caption>
        <tr>
          <th>店名</th>
          <td>ここに説明など入れて下さい。サンプルテキスト。</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>Google Mapで地図を埋め込みたい場合は<a href="https://template-party.com/file/pickup_googlemap.html">マニュアル</a>をご覧下さい。<br>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.0448418561778!2d139.74267721573196!3d35.675897837870934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188b89b2e1c8b1%3A0x59a123e3d5ac5ab6!2z44CSMTAwLTAwMTQg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy65rC455Sw55S677yR5LiB55uu77yX4oiS77yR!5e0!3m2!1sja!2sjp!4v1545036128899" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>ここに説明など入れて下さい。サンプルテキスト。</td>
        </tr>
        <tr>
          <th>サイトURL</th>
          <td>ここに説明など入れて下さい。サンプルテキスト。</td>
        </tr>
    </table>

</section>