<section>

  <h2>会社概要</h2>

    <table class="ta1">
      <caption>大見出しが必要ならここを使います</caption>
        <tr>
          <th>会社名</th>
          <td>ここに説明など入れて下さい。サンプルテキスト。</td>
        </tr>
        <tr>
          <th>所在地</th>
          <td>ここに説明など入れて下さい。サンプルテキスト。</td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td>ここに説明など入れて下さい。サンプルテキスト。</td>
        </tr>
        <tr>
          <th>サイトURL</th>
          <td>ここに説明など入れて下さい。サンプルテキスト。</td>
        </tr>
        <tr>
          <th>代表者名</th>
          <td>ここに説明など入れて下さい。サンプルテキスト。</td>
        </tr>
        <tr>
          <th>事業内容</th>
          <td>ここに説明など入れて下さい。サンプルテキスト。</td>
        </tr>
        <tr>
          <th>設立年月</th>
          <td>ここに説明など入れて下さい。サンプルテキスト。</td>
        </tr>
    </table>
  
</section>
  
  <section id="about">
  
    <h2>テンプレートのご利用前に必ずお読み下さい</h2>
  
    <h3>利用規約のご案内</h3>
      <p>このテンプレートは、<a href="https://template-party.com/">Template Party</a>にて無料配布している『エステサロン向け 無料ホームページテンプレート esthe4』です。必ずダウンロード先のサイトの<a href="https://template-party.com/read.html">利用規約</a>をご一読の上でご利用下さい。</p>
      <p><strong class="color-theme">HP最下部の著作表示『Web Design:Template-Party』は無断で削除しないで下さい。</strong><br>
      わざと見えなく加工する事も禁止です。</p>
      <p><strong class="color-theme">下部の著作を外したい場合は</strong><br>
      <a href="https://template-party.com/">Template-Party</a>の<a href="https://template-party.com/member.html">ライセンス契約</a>を行う事でHP下部の著作を外す事ができます。</p>
  
    <h3>トップページのスライドショー写真は、配布元サイト（写真ACさん）の規約により再配布できません</h3>
      <p><a href="https://www.photo-ac.com/#a_aid=60e590da89d1f&amp;a_bid=35660fdf" target="_blank">写真AC</a><img style="border:0" src="https://acworks.postaffiliatepro.com/scripts/g5iueh?a_aid=60e590da89d1f&amp;a_bid=35660fdf" width="1" height="1" alt="" />さんから「無料」でダウンロードできるので、同じ写真を使いたい場合はACさんの規約を読んだ上で直接ダウンロードして下さい。</p>
        <ul style="margin-top: -20px;">
          <li><a href="https://www.photo-ac.com/main/detail/22188683#a_aid=60e590da89d1f&amp;a_bid=bdb9e532" target="_blank">１枚目写真のDL先（※リンク先はACさんです）</a><img style="border:0" src="https://acworks.postaffiliatepro.com/scripts/g5iueh?a_aid=60e590da89d1f&amp;a_bid=bdb9e532" width="1" height="1" alt="" /></li>
          <li><a href="https://www.photo-ac.com/main/detail/23230117#a_aid=60e590da89d1f&amp;a_bid=bdb9e532" target="_blank">２枚目写真のDL先（※リンク先はACさんです）</a><img style="border:0" src="https://acworks.postaffiliatepro.com/scripts/g5iueh?a_aid=60e590da89d1f&amp;a_bid=bdb9e532" width="1" height="1" alt="" /></li>
          <li><a href="https://www.photo-ac.com/main/detail/22188682#a_aid=60e590da89d1f&amp;a_bid=bdb9e532" target="_blank">３枚目写真のDL先（※リンク先はACさんです）</a><img style="border:0" src="https://acworks.postaffiliatepro.com/scripts/g5iueh?a_aid=60e590da89d1f&amp;a_bid=bdb9e532" width="1" height="1" alt="" /></li>
        </ul>
  
    <h3>当テンプレートにはお問い合わせフォーム（自動フォーム：試用版）がセットされています</h3>
    <p><a href="contact.html">contact.html</a>と同じ３項目のお問い合わせフォームを簡単に使えるようにセットしています。</p>
    <p><strong class="color-theme">自動フォームを使う場合（※編集に入る前にご確認下さい）</strong><br>
    あなたのメールアドレス設定と、簡単な編集だけで使えます。<a href="https://template-party.com/file/formgen_manual_set2.html" target="_blank">詳しくはこちらのマニュアルをご覧下さい。</a></p>
    <p><strong class="color-theme">自動フォームを使わない場合</strong><br>
    テンプレートに梱包されている「form.html」「confirm.html」「finish.html」の3枚のファイルを削除して下さい。</p>
  
  </section>
  
  <section>
  
  <h2>2021年10月「以前」にテンプレートを利用した事のあるお客様へ</h2>
  <p>2021年11月以降からの配布テンプレートについて、かなり仕様が変更されましたので、メインとなる内容のみピックアップさせて頂きます。<br>
  今後しばらく新作テンプレートの手直しが入るかもしれません。</p>
    <ul>
      <li><span class="color-check">モバイルファースト</span>のcssに変更しました。小さな端末からの設定になるのでご注意下さい。</li>
      <li><span class="color-check">IE10以前は考慮しておりません。</span>Microsoft社のIEサポートが2022年6月で終了する為、IE11の動作チェックも近いうちに終了させて頂きます。</li>
      <li>floatでのレイアウトから、主にflexボックスを使ったレイアウトへ変更されました。</li>
    </ul>
  
  </section>
  
  <section>
  
    <h2>当テンプレートの使い方</h2>
  
    <h3>初心者向けマニュアル公開中</h3>
    <p>画像加工やテンプレートの編集方法、無料サーバーを使ってサイトを公開するなど動画をまじえてわかりやすく解説しています。<br>
    <a href="https://template-party.com/file/" target="_blank">初心者向けマニュアルはこちら。</a></p>
    
    <h3>titleタグ、copyright、metaタグ、他の設定</h3>
    <p><strong class="color-theme">titleタグの設定はとても重要です。念入りにワードを選んで適切に入力しましょう。</strong><br>
    まず、htmlソースが見れる状態にして、<br>
    <span class="look">&lt;title&gt;エステサロン向け 無料ホームページテンプレート esthe4&lt;/title&gt;</span><br>
    を編集しましょう。<br>
    あなたのホームページ名が「ESTHETIC SALON」だとすれば、<br>
    <span class="look">&lt;title&gt;ESTHETIC SALON&lt;/title&gt;</span><br>
    とすればＯＫです。SEO対策もするなら冒頭に重要なワードを入れておきましょう。</p>
    <p><strong class="color-theme">copyrightを変更しましょう。</strong><br>
    続いてhtmlの下の方にある、<br>
    <span class="look">Copyright&copy; Esthetic Salon All Rights Reserved.</span><br>
    の部分もあなたのサイト名に変更します。</p>
    <p><strong class="color-theme">metaタグを変更しましょう。</strong><br>
    htmlソースが見える状態にしてmetaタグを変更しましょう。</p>
    <p>ソースの上の方に、<br>
    <span class="look">content=&quot;ここにサイト説明を入れます&quot;</span><br>
    という部分がありますので、テキストをサイトの説明文に入れ替えます。検索結果の文面に使われる場合もありますので、見た人が来訪したくなるような説明文を簡潔に書きましょう。</p>
    <p><strong class="color-theme">h1ロゴのaltタグも変更しましょう。</strong><br>
    html側に、<br>
    <span class="look">alt=&quot;Esthetic Salon&quot;</span><br>
    となっている箇所があるので、この部分もあなたのサイト名に変更しましょう。</p>
    
    <h3>トップページのスライドショー（vegas）の解説</h3>
    <p>トップページのスライドショーには、vegasを使用しています。<br>
    テンプレート内の解説及び、当サイト上でのマニュアル以外のサポートは基本的には行なっておりませんので、使いこなしたい方はGoogle検索などかけてみて下さい。</p>
    <p>vegas 公式サイト：<a href="https://vegas.jaysalvat.com/" target="_blank">https://vegas.jaysalvat.com/</a><br>
    オプション一覧：<a href="https://vegas.jaysalvat.com/documentation/settings/" target="_blank">https://vegas.jaysalvat.com/documentation/settings/</a><br>
    トランジション一覧：<a href="https://vegas.jaysalvat.com/documentation/transitions/" target="_blank">https://vegas.jaysalvat.com/documentation/transitions/</a></p>
    <p>上記の「トランジション一覧」で、色々なスライドショーのパターンを見る事ができます。お好みで設定を変更してみて下さい。jsフォルダのvegas.jsの値を変更するだけです。</p>
    <p><strong class="color-theme">画像を入れ替える場合や、枚数を変更したい場合。</strong><br>
    画像サイズは自由で構いませんが、閲覧しているウィンドウサイズにより、スライドショー画像はトリミングされますので、切り抜かれてもおかしくない画像をご用意下さい。<br>
    枚数を変更する場合やファイル名を変更する場合は、jsフォルダのvegas.jsを開いて編集して下さい。枚数追加は、既存の画像読み込み行をコピペして画像ファイル名を入れ替えるだけでOKです。</p>
    <p><strong class="color-theme">vegasを使う為に必要なタグ、ファイル類。</strong><br>
    1. html冒頭のhead内にある「vegas.min.css」の読み込みの１行。<br>
    2. html下部にある、「スライドショー画像」のブロック。<br>
    3. その下にある「jQueryの読み込み」のブロック。※下のjsファイルより先に読み込んで下さい。<br>
    4. その下にある「スライドショー（vegas）」のブロック。<br>
    5. jsフォルダ内の「vegas.js」。</p>
    <p><strong class="color-theme">何年も経過した場合、動作に問題が出てくる可能性があります。</strong><br>
    テンプレートを編集していないのに突然動きがおかしくなった場合は、CDNから読み込んでいるjQueryのバージョン及びvegas関連のファイルのバージョンを変更して動作するか確認してみて下さい。</p>
    <p><strong class="color-theme">スライドショーでなく、固定画像にしたい場合。</strong><br>
    html下部にある、「スライドショー（vegas）」のブロックを削除。<br>
    jsフォルダのvegas.jsファイルも合わせて削除しておきます。<br>
    次に、cssフォルダのstyle.cssを開き、<br>
    <span class="look">#mainimg {</span><br>
    のブロックを削除します。<br>
    続いて、その上にある、<br>
    <span class="look">body {</span><br>
    の中の、<br>
    <span class="look">background: #fff;</span><br>
    を以下に変更します。以下はimagesフォルダの1.jpgを読み込む例です。<br>
    <span class="look">background: #fff url(../images/1.jpg) no-repeat center center / cover;</span></p>
    
    <h3>アイコン画像について（Font Awesomeの解説）</h3>
    <p>imagesフォルダに入っていない画像（アイコン）は全てFont Awesomeの素材です。<br>
    <a href="https://fontawesome.com/" target="_blank">Font Awesome 公式サイト</a><br>
    <a href="https://fontawesome.com/v5.15/icons?d=gallery&p=2">Font Awesome アイコン一覧</a></p>
    <p>iタグを使ってhtmlに直接アイコンを読み込む場合と、cssの擬似要素を使って読み込む場合があります。<br>
    それぞれ他のアイコンに置き換えたい場合は、当サイトの<a href="https://template-party.com/tips/tips20211126_font_awesome.html">マニュアル</a>をお読み下さい。</p>
    <p><strong class="color-theme">Font Awesomeを使う為に必要なタグ、ファイル類。</strong><br>
    1. cssフォルダのstyle.css冒頭で読み込んでいる「Font Awesomeの読み込み」のブロック。</p>
    <p><strong class="color-theme">何年も経過した場合、動作に問題が出てくる可能性があります。</strong><br>
    テンプレートを編集していないのに突然動きがおかしくなった場合は、style.cssの冒頭でCDNから読み込んでいるFont Awesome関連のファイルのバージョンを変更して動作するか確認してみて下さい。</p>
    
    <h3>左側のブロックについて（※画面幅900px以上で見た場合）</h3>
    <p><strong class="color-theme">画面の「高さ」が「720px以下」になった場合</strong><br>
    左側のブロックの高さが若干圧縮されます。<br>
    この設定がなくても、画面の高さを超えたコンテンツ量になれば自動でスクロールバーが出るのですが、あまり見た目がよくないのでできるだけ出にくい対策をしました。</p>
    <p><strong class="color-theme">さらに画面の「高さ」が狭くなると、自動でスクロールバーが出るようになっています。</strong><br>
    今のメニュー数のままなら特に調整不要ですが、増やす際は、cssフォルダのstyle.cssの中程にある、<br>
    <span class="look">@media screen and (max-height:<span class="color-check">720</span>px) {</span><br>
    の<span class="color-check">720</span>の数値を少し増やして調整してみて下さい。<br>
    ※変更しなくてもメニューが切れるわけではないので、そのままでも特に問題はないです。</p>
    
    <h3>画面幅900px以下になると開閉メニューになります</h3>
    <p>この基準サイズ（ブレイクポイント）を変更したい場合は、cssフォルダのstyle.cssの、<br>
    <span class="look">@media screen and (min-width:<span class="color-check">900</span>px) {</span><br>
    の900の数字を変更します。<br>
    続いて、jsフォルダのmain.jsの、<br>
    <span class="look">var winBP = <span class="color-check">900</span>;	//ブレイクポイント</span><br>
    という箇所を探して、ここの数字も合わせて変更して下さい。<br>
    どちらか一方だけ変更するとレイアウトに問題が出るので必ずセットで変更するようにして下さい。</p>
    
    <h3>「よく頂くご質問」で使っている開閉ブロックについて</h3>
    <p>汎用的な開閉ブロックなので、どこにでも使えます。<br>
    クリック対象としたいブロックに<span class="color-check">class=&quot;openclose&quot;</span>とつければ、続く要素が自動的に開閉ブロックになります。<br>
    もしすでにclass指定がある場合は、半角スペースで区切って追加すればOKです。<br>
    例：class=&quot;sample <span class="color-check">openclose</span>&quot;</p>
    
    <h3>フォントサイズ（px,rem,em）について</h3>
    <p>cssフォルダのstyle.cssで、基準となるフォントサイズを２箇所、pxで記載しています。<br>
    全体的にフォントサイズを大きくまたは小さくしたいなら、この基準サイズだけを変更すればOK。</p>
    <p>１つ目はstyle.cssの冒頭に記載されている以下。<br>
    <span class="look">font-size: 14px;</span><br>
    ２つ目は下の方にある、画面幅900px以上の端末向けで、以下。<br>
    <span class="look">font-size: 16px;</span></p>
    <p>「rem」の単位がついたフォントは、上の２箇所あるpxのサイズに対して「相対的」に出しているサイズになります。<br>
    例えば、900px未満の画面幅の時の基準サイズは「14px」なので、他の要素などで28pxで表示させたい場合は、<br>
    28px ÷ 14px = 2rem(28px)<br>
    となります。（cssの指定は、font-size: 2rem;　となる。）</p>
    <p>10pxにしたい場合も同様です。この場合、<br>
    10px ÷ 14 = 0.7142...<br>
    と小数点が続いてしまいますが、厳密に出す必要はないので、適当に切り上げて、<br>
    font-size: 0.7rem;<br>
    あたりにしておけばOKです。</p>
    <p>または計算などせず、「見た目」でremの数値を決めてしまってもいいでしょう。<br>
    実際このテンプレートのremは、厳密に割り出したわけじゃなく、雰囲気(何となく適当)で指定しています。</p>
    <p>ちなみに、emも数カ所使っていますが、これは親の文字サイズを基準とした文字サイズ指定になります。</p>
    
    <div class="box1">
      <h3>box1です</h3>
      <p>トップページの「お知らせ」に使っているボックスです。<br>
      ここの背景が真っ白の場合はわからないと思いますが、背景が半透明になっているので、背景画像にかさなった場合に若干文字が見やすいです。</p>
      <p>透明度の調整は、cssフォルダのstyle.cssの、「/*box1」のbackgroundの行で調整して下さい。詳しい説明はcssファイルに書いてあります。</p>
    </div>
    
    <h3>リストタグのサンプル（ul要素）</h3>
    <ul>
      <li>リストタグ。サンプルテキスト。</li>
      <li>リストタグ。サンプルテキスト。</li>
      <li>リストタグ。サンプルテキスト。</li>
      <li>リストタグ。サンプルテキスト。</li>
      <li>リストタグ。サンプルテキスト。リストタグ。サンプルテキスト。リストタグ。サンプルテキスト。リストタグ。サンプルテキスト。リストタグ。サンプルテキスト。</li>
    </ul>
    
    <h3>リストタグのサンプル（ol要素）</h3>
      <ol>
        <li>リストタグ。サンプルテキスト。</li>
        <li>リストタグ。サンプルテキスト。</li>
        <li>リストタグ。サンプルテキスト。</li>
        <li>リストタグ。サンプルテキスト。</li>
        <li>リストタグ。サンプルテキスト。リストタグ。サンプルテキスト。リストタグ。サンプルテキスト。リストタグ。サンプルテキスト。リストタグ。サンプルテキスト。</li>
      </ol>
    
  </section>