<section>

  <h2>コースのご案内（横長タイプ）</h2>
  <p>下の「コンパクトタイプ」とlist内のdivタグの場所が異なるので、ご利用の際にはご注意下さい。</p>
  
    <div class="list">
    	<figure><img src="images/sample1.jpg" alt=""></figure>
    	<div>
    	<h4>コースタイトル</h4>
    	<p>ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。</p>
    	<p class="btn"><a href="course2.html">詳細を見る</a></p>
    	</div>
    </div>
  
    <div class="list">
    	<figure><img src="images/sample1.jpg" alt=""></figure>
      	<div>
        	<h4><a href="course2.html">コースタイトル</a></h4>
        	<p>ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。</p>
      	</div>
    </div>
  
    <div class="list">
    	<div>
      	<h4><a href="course2.html">コースタイトル</a></h4>
      	<p>ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。</p>
    	</div>
    </div>
  
    <div class="list">
    	<div>
      	<h4><a href="course2.html">コースタイトル</a></h4>
      	<p>ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。</p>
    	</div>
    </div>
  
</section>
  
  <section>
  
  <h2>コースのご案内（コンパクトタイプ）</h2>
  <p>「コンパクトタイプ」をご利用の際は、ブロック全体を囲んでいる「list-container」タグを入れ忘れないで下さい。これがないとレイアウトが崩れます。</p>
  
    <div class="list-container">
    
      <div class="list">
      	<div>
        	<figure><img src="images/sample1.jpg" alt=""></figure>
        	<h4>コースタイトル</h4>
        	<p>ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。</p>
      	</div>
      	<p class="btn"><a href="course2.html">詳細を見る</a></p>
      </div>
    
      <div class="list">
      	<div>
        	<figure><img src="images/sample1.jpg" alt=""></figure>
        	<h4>コースタイトル</h4>
        	<p>ここに説明を書きます。サンプルテキスト。</p>
      	</div>
      	<p class="btn"><a href="course2.html">詳細を見る</a></p>
      </div>
  
      <div class="list">
      	<div>
        	<h4>コースタイトル</h4>
        	<p>ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。<br>
        	ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。</p>
      	</div>
      </div>
  
      <div class="list">
      	<div>
        	<h4>コースタイトル</h4>
        	<p>ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。ここに説明を書きます。サンプルテキスト。</p>
      	</div>
      </div>
  
    </div>
  <!--/.list-container-->

  </section>