<article>

  <h2>コースの詳細ページ</h2>
  
  <figure class="c">
    <img src="images/sample1.jpg" alt="" class="mb30">
  </figure>
  
  <table class="ta1">
    <caption>基本情報</caption>
      <tr>
        <th>見出し</th>
        <td>サンプルテキスト。</td>
      </tr>
      <tr>
        <th>見出し</th>
        <td>サンプルテキスト。</td>
      </tr>
      <tr>
        <th>見出し</th>
        <td>サンプルテキスト。</td>
      </tr>
      <tr>
        <th>見出し</th>
        <td>サンプルテキスト。</td>
      </tr>
  </table>
  
  <table class="ta1">
    <caption>詳細情報</caption>
      <tr>
        <th>見出し</th>
        <td>サンプルテキスト。</td>
      </tr>
      <tr>
        <th>見出し</th>
        <td>サンプルテキスト。</td>
      </tr>
      <tr>
        <th>見出し</th>
        <td>サンプルテキスト。</td>
      </tr>
  </table>

</article>

<p><a href="javascript:history.back()">&lt;&lt; 前のページに戻る</a></p>