<section>

  <h2>送信完了</h2>
  
    <form name="form1" enctype="multipart/form-data" method="post" action="<?php echo $_SERVER["REQUEST_URI"];?>">
    <input type="hidden" name="mode" value="finish" />
    <p>送信が完了しました。</p>
    </form>

</section>