<section>

  <h2>お問い合わせフォーム</h2>
  
    <!-- フォームの情報はここからです -->
    <form name="form1" enctype="multipart/form-data" method="post" action="<?php echo $_SERVER["REQUEST_URI"];?>">
    <input type="hidden" name="mode" value="form">
      <table class="ta1">
        <!-- 入力／確認 -->
        <!--<tr><th class="tamidashi" colspan="2">お問い合わせフォーム</th></tr>-->
        <tr>
          <th width="150">お名前<span style="color:red">※</span></th>
          <td>
          <input name="item1" value="<?php echo $form["item1"];?>" type="text" size="40" maxlength="500" class="ws">
          <?php if ($msg["item1"]) echo '<div style="color:red">' . $msg["item1"] . '</div>'; ?>
          </td>
        </tr>
        <tr>
          <th width="150">メールアドレス<span style="color:red">※</span></th>
          <td>
          <input name="item2" value="<?php echo $form["item2"];?>" type="text" size="40" maxlength="500" class="ws">
          <?php if ($msg["item2"]) echo '<div style="color:red">' . $msg["item2"] . '</div>'; ?>
          </td>
        </tr>
        <tr>
          <th>お問い合わせ内容<span style="color:red">※</span></th>
          <td>
          <textarea name="item3" cols="40" rows="10" class="wl"><?php echo $form["item3"]; ?></textarea>
          <?php if ($msg["item3"]) echo '<div style="color:red">' . $msg["item3"] . '</div>'; ?>
          </td>
        </tr>
      </table>
    
    <p class="btn">
    <input type="submit" value="内容を確認する">
    &nbsp;
    <input type="reset" value="リセット">
    </p>
    
    </form>
    <!-- フォームの情報はここまでです -->

</section>